<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  

<div>
	<h3>Activities and Hobbies</h3>
	<div class="col-md-6">
		<h4>Travel</h4>
		<div id="regions_div"></div>
	</div>
	<div class="col-md-6">
		<div class="activity-section">
			<div><h4 class="col-md-12 text-right">Art and Music</h4></div>
			<ul class="nav nav-pills">
			  <li class="bg-success"><a>Painting</a></li>
			  <li class="bg-success"><a>Drawing</a></li>
			  <li class="bg-success"><a>Keyboard</a></li>
			</ul>
		</div>
		<div class="activity-section">
			<div><h4 class="col-md-12 text-right">Literature</h4></div>
			<ul class="nav nav-pills">
			  <li class="bg-success"><a>Creative Writing</a></li>
			  <li class="bg-success"><a>Reading</a></li>
			</ul>
		</div>
		<div class="activity-section">
			<div><h4 class="col-md-12 text-right">Sports</h4></div>
			<ul class="nav nav-pills">
			  <li class="bg-success"><a>Hiking</a></li>
			  <li class="bg-success"><a>Gym</a></li>
			</ul>
		</div>
	</div>
</div>