<div>
		<h3>About</h3>
		<p> I am a software engineer working for Entelect in Johannesburg South Africa. I am client based, which means I am contracted out by my company to implement solutions for various clients. This means that I get involved with various programming languages and technologies, depending on what the client needs.</p>

		<p>I completed my masters in Computational Intelligence as part of the Computational Intelligence Research Group (CIRG) in Pretoria, South Africa. I was supervised by Prof. Andries Engelbrecht and did my research in temporal data clustering using Differential Evolution and Particle Swarm Optimisation. </p>

		<p>Though I am originally from Sofia, Bulgaria; I grew up in Caracas, Venezuela. For this reason, I speak 3 languages, namely Spanish, English and Bulgarian.</p>

		<p>This site was written in order to give you some more information about my experience, education and interests. Additionally, it was a fun project to learn about the change from Angular 1.x to Angular 2.</p>
</div>