<div>
	<h3>Publications</h3>

	<div class="col-md-12 publication-section__large">
		<h4>Academic</h4>
		<div>
			<div class="text-center col-md-3">
				<a href="http://repository.up.ac.za/handle/2263/43778">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>A Computational Intelligence Approach to Clustering of Temporal Data (Dissertation)</div>
				</a>
			</div>
			<div class="text-center col-md-3">
				<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6900344&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6900344">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>Cooperative DynDE for temporal data clustering</div>
				</a>
			</div>
			<div class="text-center col-md-3">
				<a href="http://link.springer.com/chapter/10.1007/978-3-662-43880-0_26">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>Dynamic Differential Evolution Algorithm for Clustering Temporal Data</div>
				</a>
			</div>
			<div class="text-center col-md-3">
				<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6557802&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6557802">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>A cooperative multi-population approach to clustering temporal data</div>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-12 publication-section__large">
		<h4>Blogs</h4>
		<div>
			<div class="text-center col-md-6">
				<a href="https://computationalarchaeology.wordpress.com/">
					<div class="glyphicon glyphicon-globe text-center"></div>
					<div>Computational Archaeology</div>
				</a>
			</div>
			<div class="text-center col-md-6">
				<a href="https://javaforteadrinkers.wordpress.com/">
					<div class="glyphicon glyphicon-globe text-center"></div>
					<div>Java for Tea Drinkers</div>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-12 publication-section__large">
		<div class="empty-separator"></div>
		<div>
			<div class="text-center col-md-6">
				<a href="https://blog.entelect.co.za/kristina-georgieva">
					<div class="glyphicon glyphicon-globe text-center"></div>
					<div>Entelect Blog Profile</div>
				</a>
			</div>
			<div class="text-center col-md-6">
				<a href="https://exploringmycreativity.wordpress.com/">
					<div class="glyphicon glyphicon-globe text-center"></div>
					<div>Exploring my Creativity</div>
				</a>
			</div>
		</div>
	</div>
</div>