<div>
	<h3>Publications</h3>

	<div class="col-md-12 publication-section__large">
		<h4>Academic</h4>
		<div>
			<div class="text-center col-md-3">
				<a href="http://repository.up.ac.za/handle/2263/43778">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>A Computational Intelligence Approach to Clustering of Temporal Data (Dissertation)</div>
				</a>
			</div>
			<div class="text-center col-md-3">
				<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6900344&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6900344">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>Cooperative DynDE for temporal data clustering</div>
				</a>
			</div>
			<div class="text-center col-md-3">
				<a href="http://link.springer.com/chapter/10.1007/978-3-662-43880-0_26">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>Dynamic Differential Evolution Algorithm for Clustering Temporal Data</div>
				</a>
			</div>
			<div class="text-center col-md-3">
				<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6557802&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6557802">
					<div class="glyphicon glyphicon-book text-center"></div>
					<div>A cooperative multi-population approach to clustering temporal data</div>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-12 publication-section__large">
		<h4>Blogs</h4>
		<div>
			<div class="text-center col-md-6">
				<a href="https://computationalarchaeology.wordpress.com/">
					<div class="glyphicon glyphicon-globe text-center"></div>
					<div>Computational Archaeology</div>
				</a>
			</div>
			<div class="text-center col-md-6">
				<a href="https://javaforteadrinkers.wordpress.com/">
					<div class="glyphicon glyphicon-globe text-center"></div>
					<div>Java for Tea Drinkers</div>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-12 publication-section__small">
		<h4>Posts on Entelect Blog</h4>
		<div>
			<div class="col-md-6">
				<span class="glyphicon glyphicon-briefcase"></span>
				<a href="https://blog.entelect.co.za/view/9884/getting-ready-for-angular-2-0">Getting ready for Angular 2.0</a>
			</div>
			<div class="col-md-6">
				<span class="glyphicon glyphicon-briefcase"></span>
				<a href="https://blog.entelect.co.za/view/9860/dealing-with-entityvalidation-exceptions-when-saving-in-bulk">EntityValidation exceptions when saving in bulk</a>
			</div>
			<div class="col-md-6">
				<span class="glyphicon glyphicon-briefcase"></span>
				<a href="https://blog.entelect.co.za/view/9816/angular-material-floating-action-button">Angular Material - Floating Action Button</a>
			</div>
			<div class="col-md-6">
				<span class="glyphicon glyphicon-briefcase"></span>
				<a href="https://blog.entelect.co.za/view/9797/material-design-in-angular-js-contact-chips">Material Design in Angular JS - Contact Chips</a>
			</div>
			<div class="col-md-6">
				<span class="glyphicon glyphicon-briefcase"></span>
				<a href="https://blog.entelect.co.za/view/9784/receive-trello-notifications-on-slack">Receive Trello notifications on Slack</a>
			</div>
			<div class="col-md-6">
				<span class="glyphicon glyphicon-briefcase"></span>
				<a href="https://yoda.entelect.co.za/post/view/6472/what-lte-meant-to-google-voice-recognition">What LTE meant to Google voice recognition</a>
			</div>
		</div>
	</div>
</div>