<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
<div> 
		<span class="col-md-6">
				<span class="glyphicon glyphicon-file"></span>
				<a href="https://drive.google.com/open?id=0B2PEa8uDHtTzRUJrZXpqdG9jb3M">Get my CV</a>
		</span>
		<span class="col-md-6">
				<span class="kg-link__linkedin">
						<span class="glyphicon glyphicon-signal"></span>
						<a href="https://za.linkedin.com/in/kristina-georgieva-02267223">Look at LinkedIn</a>
				</span>
		</span>
</div>
<div>
		<div id="columnchart_values"></div>
</div>