<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
 <h3>CV</h3>

<div> 
		<span class="col-md-6">
				<span class="glyphicon glyphicon-file"></span>
				<a href="https://drive.google.com/file/d/0B2PEa8uDHtTzd0djcjI4RDVYR3M/view?usp=sharing">Get my CV</a>
		</span>
		<span class="col-md-6">
				<span class="kg-link__linkedin">
						<span class="glyphicon glyphicon-signal"></span>
						<a href="https://www.linkedin.com/in/kristina-georgieva">Look at LinkedIn</a>
				</span>
		</span>
</div>
<div>
		<div id="columnchart_values"></div>
</div>