<div>
	<h3>Contact Me</h3>
	<div class="contact-section col-md-12">
		<div class="text-center col-md-4">
			<a href="https://twitter.com/compArch1">
				<div><i class="fa fa-twitter"></i></div>
				<div>Twitter</div>
			</a>
		</div>

		<div class="text-center col-md-4">
			<a href="https://plus.google.com/u/0/106738929041513154555/posts">
				<div><i class="fa fa-google-plus text-center"></i></div>
				<div>Google+</div>
			</a>
		</div>

		<div class="text-center col-md-4">
			<a href="mailto:kristina.s.georgieva@gmail.com">
				<div><i class="fa fa-envelope text-center"></i></div>
				<div>E-mail</div>
			</a>
		</div>
	</div>

	<div class="contact-section col-md-12">
		<div class="text-center col-md-4">
			<a href="https://www.linkedin.com/in/kristina-georgieva">
				<div><i class="fa fa-linkedin-square text-center"></i></div>
				<div>Linkedin</div>
			</a>
		</div>

		<div class="text-center col-md-4">
			<a href="https://computationalarchaeology.wordpress.com/">
				<div><i class="fa fa-wordpress text-center"></i></div>
				<div>Computational Archaeology</div>
			</a>
		</div>

		<div class="text-center col-md-4">
			<a href="https://javaforteadrinkers.wordpress.com/">
				<div><i class="fa fa-wordpress text-center"></i></div>
				<div>Java for tea drinkers</div>
			</a>
		</div>
	</div>

</div>