<div class="kg-navigation-container">
  <nav class="navbar kg-navigation">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main_navbar">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/']">Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/About']">About</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Cv']">CV</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Technologies']">Technologies</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Education']">Education</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Publications']">Publications</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Activities']">Activities</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Contact']">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<section id="main_container" class="container-fluid">

  <router-outlet></router-outlet>

 

</section>