body {
  background-image:  url('https://lh3.googleusercontent.com/8Aeyq1oXwYZG7lxMZYOb_eM7Hzfm22DtMsG-ugnOJQzlKw8jkq1BNtxzAtNSKs74v3147l4H4auu16dzi3bd5JAEohlf3-emX3qWC9U_n1Qof7lu8TBBDikVf64ZaP7vCZvtIKRol3MfyJIvP8gfbybz1SZ9MamaIqHHRpo-yQmCiEwOdscVTBd1e9vAU1z4Z73GrWecndodJHW1r6FL2SHF6o0c49vCJKlNOGt2tt6EcFWQwT0yGRFP310DecQklBMMb0406mjFLkY7oo_oJ3Yav4Zzx-TQeUV7buOgMx0A42sWR20BZmQwYD092mA-Gz0zFpXO0XLDnR2fJrIGr3I4HkuPkX3iTujsPPelmJEDdi3bKJ8ef-9bi0ju87u05sze3VKgCYaIoqdBz02tO_P2ndTrXquhaDCbwKlOv8vAegyqJjL5PIPlUDp-8wG-G0J8w9u6nD5PhN17to5C0nlDL0ptT06ZHaToiWCoDtCJ4Ci3XZJe4jUU7XDZTHH1PoYrztvcx5xX3k-N02OvZ45Zp4dDkjaVJTrRMaC6ZfTAdJMPEn04V3tC2wvJWXj05WPb=w1226-h919-no');
  background-repeat: no-repeat;
  background-size: 100%;
}

#main_container {
  padding-top: 6.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 6.0rem;
  width: 98%;
}

h2 {
  margin-top: 0;
  color: #a8a8a8;
}

.ng-valid[required] {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid, .ng-invalid:focus {
  border-left: 3px solid #a94442; /* red */
}

.kg-app-title {
    font-size: 100px;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    display: table;
}

.kg-navigation {
    border-color: #e7e7e7;
    margin: auto;
    background-color: white;
    opacity: 0.4;
    width: 50%;
}

.kg-navigation-container {
    width: 100%;
    bottom: 30%;
    position: fixed;
}

.center {
    margin: auto;
}

a {
    font-weight: bold;
    color: #666666;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
    color: #666666;
    cursor: pointer;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}