<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/Home']" class="navbar-brand">Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main_navbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/About']">About</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/Cv']">CV</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/Technologies']">Technologies</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/Education']">Education</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/Publications']">Publications</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/Activities']">Activities</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/Contact']">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="main_container" class="container-fluid">

  <router-outlet></router-outlet>

 

</section>